*, *::before, *::after{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Login Page */
#camera{
    width:400px;
}

#login{
    width:400px;
}

@media(max-width:900px){
    #camera{
        display:none;
    }    
}

/* @media(max-width:420px){
    #login{
        width:320px;
    }   
} */

/* NavBar */
#navIcon{
    display:flex;
    gap:20px;
    align-items: center;
    font-weight: 600;
}

#navDescription{
    display: none;
}

@media(max-width:575px){
    #navDescription{
        display: block;
    }
}

/* Upload Modal */
#uploadModal{
    min-width:300px;
}

/* Profile Page */
#profileItem{
    width: 300px;
    height: 300px;
}

@media(max-width: 1200px){
    #profileItem{
        width: 200px;
        height: 200px;
    }    
}

@media(max-width: 770px){
    #profileItem{
        width: 150px;
        height: 150px;
    }    
}

@media(max-width: 575px){
    #profileItem{
        width: 300px;
        height: 300px;
    }    
}

/* Home Page */
#card{
    max-width:800px;
    min-width:320px;
    width:50vw;
}

@media(max-width:1000px){
    #card{
        width: 500px;
    }
}

@media(max-width:525px){
    #card{
        width: 90vw;
    }
}

@media(max-width:400px){
    #card{
        width: auto;
        min-width:320px;
    }
}

/* Post Card */
#postCaption{
    max-width:400px;
}


@media(max-width: 500px){
    #firstSection{
        display: flex;
        flex-direction: column;
    }
}

#comment{
    max-width:750px;
    width:auto;
    overflow-wrap:anywhere;
}

#commentUser{
    overflow-wrap: normal;
}

.inputField{
    width:700px;
    padding-left: 10px;
    /* width:auto; */
}

@media(max-width:410px){
    .inputField{
        width:250px;
    }
}

#containerProfile{
    position: relative;
    text-align: center;
    color: white;
}

#banner{
    width:100%;
}

#bannerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Weather Widget */

#loadingGIF{
    width: 150px;
}


#weatherTemp{
    width:100px;
    font-size: 4rem;
    align-self: center;
    justify-self: center;
}

#weatherLocation{
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
}

#weatherDescription{
    font-size:1.3rem;
}

#sunrise{
    text-align: center;
    padding: 10px;
    background-color: orange;
}

#sunset{
    text-align: center;
    padding: 8px;
    background-color: rgb(255, 140, 0);
}